---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
---

<Layout title='Welcome to Astro.'>
	<main>
		<h1 class='text-2xl mb-3'>
			Welcome to <span class='text-red-500 font-bold'>Astro</span>
		</h1>
		<Button>Button 1</Button>
		<Button>Button 2</Button>
		<Button>Button 3</Button>
		<Button>Button 4</Button>
		<Button>Button 5</Button>
		<Button>Button 6</Button>

		<p>
			To get started, open the directory <code>src/pages</code> in your project.<br
			/>
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message
			above.
		</p>
		<ul role='list' class='link-card-grid'>
			<ul
				role='list'
				class='grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4'
			>
				<Card
					title='Mario'
					body='Learn how Astro works and explore the official API docs.'
				/>
				<Card
					title='Jakob'
					body='Supercharge your project with new frameworks and libraries.'
				/>
				<Card
					title='Fabienne'
					body='Explore a galaxy of community-built starter themes.'
				/>
				<Card
					title='Fabienne'
					body='Explore a galaxy of community-built starter themes.'
				/>
				<Card
					title='Lena'
					body='Come say hi to our amazing Discord community. ❤️'
				/>
				<Card
					title='Rezept #10'
					body='Come say hi to our amazing Discord community. ❤️'
				/>
				<Card
					title='Rezept #10'
					body='Come say hi to our amazing Discord community. ❤️'
				/>
				<Card
					title='Rezept #10'
					body='Come say hi to our amazing Discord community. ❤️'
				/>
				<Card
					title='Rezept #10'
					body='Come say hi to our amazing Discord community. ❤️'
				/>
				<Card
					title='Rezept #10'
					body='Come say hi to our amazing Discord community. ❤️'
				/>
				<Card
					title='Rezept #10'
					body='Come say hi to our amazing Discord community. ❤️'
				/>
				<Card
					title='Rezept #10'
					body='Come say hi to our amazing Discord community. ❤️'
				/>
				<Card
					title='Rezept #10'
					body='Come say hi to our amazing Discord community. ❤️'
				/>
				<Card
					title='Rezept #10'
					body='Come say hi to our amazing Discord community. ❤️'
				/>
				<Card
					title='Rezept #10'
					body='Come say hi to our amazing Discord community. ❤️'
				/>
				<Card
					title='Rezept #10'
					body='Come say hi to our amazing Discord community. ❤️'
				/>
			</ul>
		</ul>
	</main>
</Layout>
